.gradle
/build/
/bin
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### macOS ###
.DS_Store

### App specific ###
/src/main/resources/application-local.yml
/src/main/resources/bootstrap-local.yml
/log/
/src/test/resources/qa-database.properties
/src/test/resources/compare

